

@using PagedList.Mvc;
@using PagedList;

@model IPagedList<Exam_Info.Models.Student_Model>

@{
    ViewBag.Title = "District_List";
    Layout = "~/Views/Shared/District_LayoutPage.cshtml";
}


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    #District {
        width: 526px;
        padding: 5px;
    }

    #taluka {
        width: 526px;
        padding: 8px;
    }

    #btn_Excel {
        width: 200px;
        padding: 5px;
        position: absolute;
        right: 20px;
    }
</style>

<div class="row">
    <div class="col-sm-6">
        <h2>District Student List</h2>
    </div>
    <div class="col-sm-6">
        <input type="button" class="btn btn-success" id="btn_Excel" value="Download Excel"><br />
    </div>
</div>

<div class="row" style="border:inset 2px  #3eadcf"></div>
<br />
@using (Html.BeginForm("District_List", "District", FormMethod.Get))
{
    <div>

        <div class="row">

            <div class="col-sm-4">
                <label for="Division_List">District</label><span style="color:Red">*</span><br />

                @Html.TextBox("District", TempData["District_Name"])
            </div>

            <div class="col-sm-4">
                <label for="Taluka_Code">Select Taluka</label><span style="color:Red">*</span>
                <select name="taluka" id="taluka">
                </select>
            </div>
            <div class="col-sm-1">
                <center>
                    <label></label><br />
                    <input type="submit" value="Submit" id="btn_sub" class="btn btn-success" />
                </center>
            </div>
        </div>

        <br />

        <center>
            <table class="AppFormTable " id="state_insp" style="background-color: #e7fafe;">
                <thead>
                    <tr>
                        <th>
                            Sr.No.
                        </th>
                        <th>
                            Index No
                        </th>
                        <th>
                            Seat No
                        </th>
                        <th>
                            Name
                        </th>

                        <th>
                            Batch
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span>@i</span>
                                @{i++;}

                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Index_No)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Seat_No)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Batch)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </center>

        <br />
    </div>
    @Html.PagedListPager(Model, page => Url.Action("District_List", new { page }))
}



<script>

    $(document).ready(function () {

        $("#taluka").empty();
        $.ajax({
            type: 'POST',
            url: '../District/Load_District',
            dataType: 'json',
            data: {
                distCode: $("#District").val()
            },
            success: function (Data) {
                for (var item in Data) {
                    $("#taluka").append('<option value="' + Data[item].Value + '">' + Data[item].Text + '</option>');
                }

            },
            error: function (ex) {
                alert('Failed.' + ex);
            }
        });







    });
</script>
