@model IEnumerable<Exam_Info.Models.Tbl_DTT2>
@{
    ViewBag.Title = "Data_Test2";
    Layout = "~/Views/Shared/College_LayoutPage.cshtml";
}


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    #btn_submit {
        width: 200px;
        padding: 5px;
        position: absolute;
        right: 20px;
    }
</style>

<div class="row">
    <div class="col-sm-6">
        <h2>Data Test1</h2>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-success" id="btn_submit" onclick="return confirm('Do you want to download ?')">@Html.ActionLink("Download Excel", "College_DTT2", "College", new { controller = "College" })</button><br />
    </div>
</div>


<div class="row" style="border:inset 2px  #3eadcf"></div>
<br />
<div class="table-responsive pt-3  ">
    <center>
        <table class="AppFormTable " style="background-color: #e7fafe;">
            <tr>
                <th>
                    Sr. No
                </th>
                <th>
                    Index No
                </th>
                <th>
                    Index No Old
                </th>

                <th>
                    Read/Write Access
                </th>
                <th>
                    Date Time Set
                </th>
                <th>
                    MAC
                </th>
                <th>
                    Active
                </th>

            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@i</span>
                        @{i++;}
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Index_No)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Index_No_OLD)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Read_Wrtite_Access)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.datetime_set)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.MAC)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Active)
                    </td>
                </tr>
            }
        </table>
    </center>
    <center>
        <table class="AppFormTable " id="state_insp" style="background-color: #e7fafe;">
        </table>
    </center>
</div>

<script>
    $(document).ready(function () {



        $("#btn_sub").click(function () {

            Get_Inspection_Record("0");

        });
        $("#btn_Excel").click(function () {

            Get_Inspection_Record("1");

        });

        function Get_Inspection_Record(Excel) {
            debugger
            $.ajax({
                type: 'POST',
                url: '../College/Data_Test2',
                dataType: 'json',
                data: {

                    Excel: Excel
                },
                beforeSend: function () {
                    Showloader();
                },
                complete: function () {
                    Hideloader();
                },
                success: function (data) {

                    if (data.Result) {
                        $("#state_insp").empty();

                        var list2 = JSON.parse(JSON.stringify(data.Response));
                        for (i in list2) {
                            delete list2[i].ID;
                            delete list2[i].Active;


                            var aa = list2[i].Datetime;
                            var JavaScriptDate = new Date(parseInt(aa.substr(6)));
                            var dateObject = new Date(JavaScriptDate);
                            var daate = dateObject.getDate();
                            var Month = dateObject.getMonth();
                            var year = dateObject.getFullYear();
                            list2[i].Datetime = daate + "/" + Month + "/" + year;
                        }
                        Bind_Table(list2, "state_insp");
                        if (Excel == "1") {
                            window.location.href = data.FileName + ".xlsx";
                        }
                    }
                    else {
                        Error_Alert(data.Message);
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        }


    });
</script>



